.content {
  height: calc(100vh - 160px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  font-size: 2rem;
  color: gray;
  // width: 100%;
}
.tool-bar {
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.form-field {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 10px;
}
.form-parent {
  display: flex;
  font-size: 18px;
  margin: 5px;

  max-width: 100%;
}
.submit-button {
  display: flex;
  justify-content: center;
  margin: 30px;
  border-radius: 5px;
}
.button {
  width: 50%;
  height: 30px;
  border-radius: 20px;
  background-color: #3f51b5;
  color: white;
  margin: 5px;
  cursor: pointer;
}
